<div id="homeContainer"> 

 <div class="whiteBorderGlassBox"> 
   <div class="homeHeadContainer">
      <div class="row marginrl10"> 
          <div class="col-md-auto">
              <div class="">
                  <img *ngIf="user" id="homeAvatarPicture" src="{{user.avatar}}"  />
              </div>
          </div>
          <div class="col">
              <b *ngIf="user" >{{user.nick}}</b>
              <p *ngIf="user" >{{user.subNick}}</p>
              <div>  
                <span *ngIf="user">{{user.status}}</span>
                <!--<br/>
                <span>  -Escribe un mensaje- </span>-->
              </div>
          </div>
      </div>
   </div>
 </div>

  <div class="whiteContainerPadded margTop15">
      <div class="row">
          <div class="col">
              <input type="text" class="form-control" placeholder=" Buscar contacto" [(ngModel)]="query">
          </div>
          <div class="col-md-auto">
              <img src="assets/img/logo_live_add.png" class="icon" (click)="open(ModalAgregarAmigos)" style="cursor: pointer;" >
          </div>
      </div> 
      <hr>
      <b *ngIf="user && user.friends" >Amigos ({{user.friends.length}}/{{user.friends.length}}) </b>
      
      <div *ngIf="user && user.friends"> 
        <div  class="disblo margBot5" >   <!--*ngFor="let item of user.friends | search : query; let i=index"-->
          <app-contact class="col-md-12" *ngFor="let user of user.friends" [uid]=user > </app-contact>
          
          <!-- <img id="imgAbatar" class="ico-estatus margBot5" src="assets/img/logo_live_{{item.status}}.png"/>     
            <span  routerLink="/conversation/{{item.id}}"> <b> {{item.nick}} </b> - {{item.subNick || 'Sin subnick!'}} <small>{{item.email}}</small> </span>
          -->
        </div>   
      </div>
  </div>

</div>


<ng-template #ModalAgregarAmigos let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
      <button id='closeModalAddFriends' type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form style="padding: 1%;" >
        <div class="row">
          <b>Ingresa el email de tu amigo:</b>
          <input type="email" class="form-control" placeholder="email" [(ngModel)]="friendEmail" name="friendEmail" (keyup.enter)="sendRequest()" >
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
    </div>
  </ng-template>
  
  
<!--<ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
  <div>
    Welcome back, friend.
  </div>
</ng-template>

<ng-template #loggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template>-->