#imgUsuario{
    width: 8%;   
}

.marginrl10{
    margin-right : 10px !important;
    margin-left: 10px !important;
}
#homeContainer{
    background-image: url('/assets/img/msnbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#whiteBorderGlassBox{
    border: 2px rgba(255, 255, 255, 255, .75);
    padding: 10px;
}

.whiteBorderGlassBox{
    background-color: rgba(255, 255, 255, 255, .50);
}

#homeAvatarPicture{
    max-width: 100px;
}


  .whiteContainerPadded{
      padding: 15px;
      background-color: #ffffff;
  }

  .icon{
      width: 30px;
  }

  .ico-estatus {
    width: 15px;
    height: 15px;
  }