<div class="loginContainer">
  <div class="container">

    <div class="row justify-content-md-center">      
      <div class="col-md-3">
        <div class="avatarFrameOffline margTop15 margBot15">
          <img class="img-fluid" src="assets/img/generic_avatar.png" />
        </div>
      </div>      
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="center">
            <h3>Iniciar sesión</h3>
          </div>
          <p *ngIf="operation == 'register'">Ya tienes cuenta ? <a style="cursor: pointer; color: #0091D7" (click)= "operation ='login'">Iniciar sesión</a> </p>
          <p *ngIf="operation == 'login'">No tienes cuenta ?  <a style="cursor: pointer; color: rgb(22, 162, 231)" (click)= "operation ='register'">Registrate</a> </p>
          <div class="borderContainer">
            <input [(ngModel)]="email" class="form-control margTop15 margBot15" type="email" placeholder="Ingrese correo" >
            <input [(ngModel)]="password" class="form-control margTop15 margBot15" type="password" placeholder="Ingrese contraseña" >
            <input [(ngModel)]="nick"  *ngIf="operation == 'register'" class="form-control margTop15 margBot15" type="text" placeholder="Ingrese nick" >
          </div>
          <div class="center">
            <a (click)="login()" *ngIf="operation == 'login'" class="btn btn-primary margTop15 degradButton"> Iniciar sesión</a>
            <a (click)="register()" *ngIf="operation == 'register'" class="btn btn-primary margTop15 degradButton"> Registrarme</a>
          </div>
        </div>
    </div>

  </div>
</div>

<!--asdasdasd--->
<!--asdasdasd--->
<!--asdasdasd--->
<!--asdasdasd--->