<div *ngIf="contact"  routerLink="/conversation/{{contact.id}}" >
  <img id="imgAbatar" class="ico-estatus margBot5" src="assets/img/logo_live_{{contact.status}}.png"/>
  <span  routerLink="/conversation/{{contact.id}}"> <b> {{contact.nick}} </b> - {{contact.subNick || 'Sin subnick!'}} <small>{{contact.email}}</small> </span>
</div>