


<div id="menuConteiner">
  <div class="item branding" routerLink="/home">
    <img id="main-logo" src="assets/img/logo_live.png" alt="Logo de Platzinger"/>
    Platzinger
  </div>
  <div class="item" routerLink="/profile">
    Profile
  </div>

  <div class="item" >
      <a (click)="loginOut()" style="cursor: pointer;" >Cerrar Sesión</a>
  </div>
</div>


<!--

<div>
<a routerLink="/home"> <i class="fas fa-home"></i> Home</a> |
<a routerLink="/login"> <i class="fas fa-sign-in-alt"></i> Login</a> |
|
 |
</div>-->