<div class="modal-dialog modal-lg"> 
  <div class="modal-content">
      
      <div class="modal-header">
        <h4>Nueva solicitud</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body" style="height: auto;">
        <div class="row">
          <div class="col-md-3">
            <img *ngIf="user" src="{{user.avatar}}" alt="usuario solicitante" class="img-fluid">
          </div>
          <div class="col-md-9">
              <strong *ngIf="user">{{user.nick}}</strong>
              <p *ngIf="user">Correo: {{user.email}}</p>
              <p>te ha enviado esta solicitud</p>
          </div>
        </div>
        <div class="row">
          <hr />
          <div class="col-md-12">
            <h3>Deseas agregar a esta persona?</h3>
            <input type="radio" name="addToMsm" [(ngModel)]="shouldAdd" value="Yes" id="add-yes">
            <label for="add-yes">Si quiero</label> <br/>
            <input type="radio" name="addToMsm" [(ngModel)]="shouldAdd" value="No" id="add-no">
            <label for="add-no">No quiero</label> <br/>
            <input type="radio" name="addToMsm" [(ngModel)]="shouldAdd" value="Later" id="add-later">
            <label for="add-later">Decido despues</label> <br/>
          </div>
        </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-primary"  (click)="acept()">Guardar</button>
          <button type="button" class="close" aria-label="Close" (click)="this.close()">Cancelar</button>
      </div>

  </div>
</div>
