<div id="conversationContainer" [ngClass]="{shaker: shake}">
  <div class="whiteBorderGlassBox">
      <div class="homeHeadContainer">
        <div class="row">
          <div class="col-md-auto">
            <div class="avatarFrameonline">
                <img *ngIf="friend" src="{{friend.avatar}}" id="homeAvatarPicture">
            </div>
          </div>
          <div class="col">
            <!--<h1 *ngIf="friend">{{friend.nick}}</h1>-->
            <div>
              <span *ngIf="friend" > {{friend.status}}</span>
              <br />
              <span>Escribe un mensaje a: </span> <b *ngIf="friend" >{{friend.nick}} </b>
              <hr/>
            </div>
            <form >
              <div class="form-group">
                <div id="chat" class="card"  style="overflow-y: scroll; height: 20em; ">
                  <div class="card-body" >
                    <div class="col divconversation" *ngFor="let item of conversation" >
                      <b>{{getUserNick(item.sender)}} dice: </b> <br />
                      <span class="badge txtConversation">{{item.text}}</span>
                      <img *ngIf="item.url" src="{{item.url}}" >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
          <div class="row">
            <div class="col-md-auto">
              <div class="avatarFrameonline">
                  <img *ngIf="user" src="{{user.avatar}}" id="homeAvatarPicture">
              </div>
            </div>
            <div class="col">
              <b>Yo</b>
              <div>
                <form >
                  <div class="form-group">
                    <textarea [(ngModel)]="textMessage" name="textMessage" (keyup.enter)="sendMessage()" class="form-control"  rows="3" placeholder="Escribe menos de 140 caracteres"></textarea>
                    <div class="col text-right">
                        <!--<img *ngIf="croppedImage" [src]="croppedImage" class="avatarImage img-fluid"/>-->
                        <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"></image-cropper>
                      
                      <i class="img mr-1">
                        <img src="assets/img/zumbido.png" width="4%" (click)="sendZumbido()" >
                      </i>
                      <button (click)="sendImage()" type="button" class="btn btn-primary btn-sm mr-1">Enviar</button>
                      <label class="custom-file-upload mr-1">
                        <input type="file" (change)="fileChangeEvent($event)">
                        Selecciona Imagen
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>