#conversationContainer {
    background-image: url(/assets/img/msnbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 20px;;
  }
  img.avatarImage{
    height: 100px;
    width: 100px;
  }
  .icon-chat{
    height: 40px;
    width: 40px;
  }

  .badge-primary{
      background-color: transparent;
      color: black; 
  }
  .divconversation{
    background-color: transparent;
  }
  .txtConversation{
    color: blue;
  }