.avatarFrameOffline{
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
  
  }
  .avatarFrameonline{
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid lime;
    display: inline-block;
  }
  
  .center{
    text-align: center !important;
  
  }
  
  .margTop15{
    margin-top: 15px;
  }
  
  .margBot15{
    margin-bottom: 5px;
  } 
  
  .generalContent{
    margin-top: 56px;
  }
  
  #homeAvatarPicture{
    max-width: 100px;
  }
  
  .disblo{
    display: block !important;
  }
  
  .margBot5{
    margin-bottom: 5px;
  }
  
  .pato45{
    padding-top: 45px;
  }
  
  input[type ="file"]{
    display: none;
  }
  
  .custom-file-upload{
    background: #f2f6f8;
    background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
    display: inline-block;
    padding: 6px12px;
    cursor: pointer;
    border: 1px solid #8dd2f3;
  }

  .degradButton{
 
    background: rgba(178,222,240,1);
    background: -moz-linear-gradient(top, rgba(178,222,240,1) 0%, rgba(106,209,246,1) 50%, rgba(24,187,236,1) 51%, rgba(178,222,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(178,222,240,1)), color-stop(50%, rgba(106,209,246,1)), color-stop(51%, rgba(24,187,236,1)), color-stop(100%, rgba(178,222,240,1)));
    background: -webkit-linear-gradient(top, rgba(178,222,240,1) 0%, rgba(106,209,246,1) 50%, rgba(24,187,236,1) 51%, rgba(178,222,240,1) 100%);
    background: -o-linear-gradient(top, rgba(178,222,240,1) 0%, rgba(106,209,246,1) 50%, rgba(24,187,236,1) 51%, rgba(178,222,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(178,222,240,1) 0%, rgba(106,209,246,1) 50%, rgba(24,187,236,1) 51%, rgba(178,222,240,1) 100%);
    background: linear-gradient(to bottom, rgba(178,222,240,1) 0%, rgba(106,209,246,1) 50%, rgba(24,187,236,1) 51%, rgba(178,222,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2def0', endColorstr='#b2def0', GradientType=0 );
    border:none;
    color: #333 !important;
}

.shaker{
  animation: shake 1s;
  animation-iteration-count: infinite;

}

@keyframes shake{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}