<div id="profileContainer">
  <div class="container pato45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatarFrameonline">        
        <img *ngIf="croppedImage" [src]="croppedImage" class="avatarImage img-fluid"/>
          <!--<img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">-->
        </div>
        <hr/>
        <div>
          <span>Cambiar Foto</span><br />
          <label class="custom-file-upload">
            <input type="file" (change)="fileChangeEvent($event)">
            Cambiar avatar
          </label>
        </div>
      </div>
      <div class="col-md-9">
          <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="128"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"></image-cropper>
        <div>
          <label fixed >Nick</label>
          <input *ngIf="user" [(ngModel)]="user.nick" type="text"class="form-control"  />
        </div>
        <div>
          <label fixed >Subnick</label>
          <input *ngIf="user" [(ngModel)]="user.subNick" type="text" class="form-control" />
        </div>
        <div>
          <label fixed >Email</label>
          <input *ngIf="user" [(ngModel)]="user.email" type="email" disabled class="form-control" />
        </div>
        <div>
          <label fixed >Status</label>
          <select *ngIf="user" [(ngModel)]="user.status" class="form-control">
           <option value="online">Conectado</option>
            <option value="awaye">Ausente</option>
            <option value="busy">Ocupado</option>
            <option value="appear_offline">Desconectado</option>
          </select>
        </div>
        <hr />
        <a (click)="saveSettings()" class="btn btn-primary btn-block degradButton" style="border: none; cursor: pointer; ">Guardar</a>
      </div>
    </div>
  </div>
</div>